p {
  font-family: 'Calibri', sans-serif; 
  font-size: 13px;
  line-height: 1.6;
  color: #FFFFFF;
  text-align: justify;
  margin-bottom: 1.08em;
}

.markdown-preview-view br {
    content: '';
    display: block;
    margin-top: 10px;
}

.markdown-source-view :is(.cm-line:not(.HyperMD-list-line):not(.HyperMD-codeblock):not(.HyperMD-callout)) {
   padding-top: 1em;
